<div class="js-enter"></div>
<article class="friends visually-hidden js-friends">
    <h1 class="visually-hidden">Другофильтр</h1>
    <header class="friends__header">
        <div class="friends__header-cont container">
            <h2 class="friends__subtitle">Выберите друзей</h2>
            <button class="btn btn--close js-close" aria-label="закрыть"></button>
        </div>
    </header>
    <div class="friends__loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <section class="friends__filter filter js-section">
        <div class="filter__cont container">
            <div class="filter__total">
                <input class="filter__search js-search" type="search" placeholder="Начните вводить имя друга"
                       data-type="total">
            </div>
            <div class="filter__select">
                <input class="filter__search js-search" type="search" placeholder="Название" data-type="select">
            </div>
        </div>
    </section>
    <section class="friends__content js-section">
        <div class="friends__content-cont container">
            <div class="friends__wrap">
                <h3 class="friends__caption">Ваши друзья</h3>
                <ul class="friends__list friends__total js-total">
                    ...Пока у Вас нет друзей
                </ul>
            </div>
            <div class="friends__wrap">
                <h3 class="friends__caption">Друзья в списке</h3>
                <ul class="friends__list friends__select js-select"></ul>
            </div>
        </div>
    </section>
    <section class="friends__save js-section">
        <div class="container">
            <button class="friends__save-btn">Сохранить</button>
        </div>
    </section>
</article>